<?xml version="1.0"?>
<ruleset name="guides">
 <description>The coding standard for phpDocumentor guides.</description>

    <file>packages</file>
    <file>tests</file>

    <config name="php_version" value="80100"/>

    <exclude-pattern>packages/*/examples/*</exclude-pattern>
    <exclude-pattern>tests/*/_*</exclude-pattern>

    <arg value="nps"/>

    <rule ref="Doctrine">
        <exclude name="Generic.Formatting.MultipleStatementAlignment.NotSame"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousAbstractClassNaming.SuperfluousPrefix"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousExceptionNaming.SuperfluousSuffix"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming.SuperfluousSuffix"/>

        <exclude name="Squiz.Commenting.FunctionComment"/>
    </rule>

    <rule ref="Generic.Formatting.SpaceAfterNot">
        <properties>
            <property name="spacing" value="0"/>
        </properties>
    </rule>

    <rule ref="SlevomatCodingStandard.Commenting.InlineDocCommentDeclaration.NoAssignment">
        <exclude-pattern>packages/guides/src/Setup/QuickStart.php</exclude-pattern>
    </rule>

    <rule ref="SlevomatCodingStandard.Numbers.RequireNumericLiteralSeparator">
        <properties>
            <property name="minDigitsBeforeDecimalPoint" value="5"/>
        </properties>
    </rule>

    <rule ref="PSR2">
        <include-pattern>*\.php</include-pattern>
    </rule>

    <rule ref="PSR1.Methods.CamelCapsMethodName.NotCamelCaps">
          <exclude-pattern>*/tests/*/*.php</exclude-pattern>
    </rule>

    <rule ref="Squiz.NamingConventions.ValidVariableName.NotCamelCaps">
        <exclude-pattern>*/tests/unit/Renderer/IteratorTestCase.php</exclude-pattern>
    </rule>
</ruleset>
