parameters:
  level: max
  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    # FlyFinder plugin adds a find method to FlySystem's Filesystem
    - '#Call to an undefined method League\\Flysystem\\FilesystemInterface::find\(\)#'
    - '#Method phpDocumentor\\Guides\\Handlers\\ParseDirectoryHandler::handle\(\) should return array<phpDocumentor\\Guides\\Nodes\\DocumentNode> but returns array<int, mixed>#'

    - '#Cannot call method end\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'

    -
      message: '#Unreachable statement - code above always terminates\.#'
      path: packages/guides-restructured-text/tests/unit/Parser/Productions/GridTableRuleTest.php

  paths:
    - packages/guides/src
    - packages/guides-markdown/src
    - packages/guides-restructured-text/src
    - packages/guides/tests
#    - packages/guides-markdown/tests
    - packages/guides-restructured-text/tests

  tmpDir: .build/phpstan/
