parameters:
  level: max
  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    # FlyFinder plugin adds a find method to FlySystem's Filesystem
    - '#Call to an undefined method League\\Flysystem\\FilesystemInterface::find\(\)#'

  paths:
    - src/
    - tests/

  tmpDir: .build/phpstan/
