includes:
	- phpstan-baseline.neon
parameters:
  level: max

  strictRules:
    allRules: false
    strictCalls: false
    requireParentConstructorCall: true

  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    # FlyFinder plugin adds a find method to FlySystem's Filesystem
    - '#Call to an undefined method League\\Flysystem\\FilesystemInterface::find\(\)#'
    - '#Method phpDocumentor\\Guides\\Handlers\\ParseDirectoryHandler::handle\(\) should return array<phpDocumentor\\Guides\\Nodes\\DocumentNode> but returns array<int<0, max>, mixed>#'

    - '#Cannot call method end\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'

    -
      message: '#Unreachable statement - code above always terminates\.#'
      path: packages/guides-restructured-text/tests/unit/Parser/Productions/GridTableRuleTest.php

    - message: '#Return type .* of method phpDocumentor\\Guides\\RestructuredText\\Parser\\Productions\\InlineMarkupRule::apply\(\) should be covariant with return type .*#'

    # https://github.com/doctrine/lexer/pull/109
    -
      message: '#^Result of && is always false.|Strict comparison using \=\=\= between Doctrine\\Common\\Lexer\\Token and null will always evaluate to false\.$#'
      paths:
        - packages/guides-restructured-text/src/RestructuredText/Parser/Productions/InlineRules/AnnotationRoleRule.php
        - packages/guides-restructured-text/src/RestructuredText/Parser/Productions/InlineRules/DefaultTextRoleRule.php
        - packages/guides-restructured-text/src/RestructuredText/Parser/Productions/InlineRules/EmphasisRule.php
        - packages/guides-restructured-text/src/RestructuredText/Parser/Productions/InlineRules/StrongRule.php
        - packages/guides-restructured-text/src/RestructuredText/Parser/Productions/InlineRules/TextRoleRule.php
        - packages/guides-restructured-text/src/RestructuredText/Parser/Productions/InlineRules/VariableInlineRule.php

    -
       message: '#^Return type \(iterable<phpDocumentor\\Guides\\Compiler\\NodeTransformers\\MoveAnchorTransformer>\) of method class@anonymous\/guides\/tests\/unit\/Compiler\/.*#'
       paths:
         - packages/guides/tests/unit/Compiler/NodeTransformers/MoveAnchorTransformerTest.php
  paths:
    - packages/guides/src
    - packages/guides-markdown/src
    - packages/guides-restructured-text/src
    - packages/guides/tests
#    - packages/guides-markdown/tests
    - packages/guides-restructured-text/tests

  tmpDir: .build/phpstan/
