<?xml version="1.0" encoding="utf-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        colors="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true"
        failOnNotice="true"
        failOnWarning="true"
        failOnDeprecation="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        cacheDirectory=".cache/.phpunit.cache"
        requireCoverageMetadata="false"
>
    <testsuites>
        <testsuite name="unit">
            <directory>packages/**/tests/unit/</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests/Functional/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/Integration/</directory>
        </testsuite>
    </testsuites>
    <coverage/>
    <source ignoreSuppressionOfDeprecations="true" baseline="phpunit-baseline.xml">
        <include>
            <directory suffix=".php">packages/**/src</directory>
        </include>
    </source>
</phpunit>
