# https://docs.github.com/en/actions

name: "Integrate"

on: # yamllint disable-line rule:truthy
  pull_request: null
  push:
    branches:
      - "main"

env:
  ComposerRootVersion: "1.x-dev"

jobs:
  code-coverage:
    name: "Code Coverage"
    uses: "phpDocumentor/.github/.github/workflows/code-coverage.yml@v0.9"
    with:
      php-version: "8.2"
      php-extensions: "none, ctype, dom, json, mbstring, phar, simplexml, tokenizer, xml, xmlwriter, fileinfo, iconv, inotify"

  coding-standards:
    name: "Coding Standards"
    runs-on: "ubuntu-22.04"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v6"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          extensions: "none, ctype, dom, json, mbstring, phar, simplexml, tokenizer, xml, xmlwriter, fileinfo, iconv, inotify"
          php-version: "8.2"
          tools: "cs2pr"

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v3"
        with:
          dependency-versions: "locked"

      - name: "Run PHP_CodeSniffer"
        run: "vendor/bin/phpcs -q --no-colors --report=checkstyle | cs2pr"

  lint-root:
    name: "Lint root"
    uses: "phpDocumentor/.github/.github/workflows/lint.yml@main"
    with:
      composer-options: "--no-check-publish --ansi"
      php-extensions: "none, ctype, dom, json, mbstring, phar, simplexml, tokenizer, xml, xmlwriter, fileinfo, iconv, inotify"
      php-version: "8.2"

  static-analysis:
    name: "Static analysis"
    uses: "phpDocumentor/.github/.github/workflows/static-analysis.yml@v0.9"
    with:
      php-version: "8.2"
      php-extensions: "none, ctype, dom, json, mbstring, phar, simplexml, tokenizer, xml, xmlwriter, fileinfo, iconv, inotify"
      composer-root-version: "1.x-dev"

  architecture:
    name: "Check architecture"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - name: "Install PHP"
        uses: "shivammathur/setup-php@2.25.1"
        with:
          coverage: "none"
          php-version: "8.2"
          extensions: "none, ctype, dom, json, mbstring, phar, simplexml, tokenizer, xml, xmlwriter, fileinfo, iconv, inotify"

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v3"
        with:
          dependency-versions: "locked"
          composer-options: "--prefer-dist"

      - name: "Check package level"
        run: "vendor/bin/deptrac --config-file deptrac.packages.yaml --formatter=github-actions"

  unit-tests:
    name: "Unit test"
    uses: "phpDocumentor/.github/.github/workflows/continuous-integration.yml@v0.9"
    with:
      composer-root-version: "1.x-dev"
      php-extensions: "none, ctype, dom, json, mbstring, phar, simplexml, tokenizer, xml, xmlwriter, fileinfo, iconv, inotify"

  functional-tests:
    name: "Functional test"
    uses: "phpDocumentor/.github/.github/workflows/continuous-integration.yml@v0.9"
    needs: "unit-tests"
    with:
      test-suite: "functional"
      php-extensions: "none, ctype, dom, json, mbstring, phar, simplexml, tokenizer, xml, xmlwriter, fileinfo, iconv, inotify"
      composer-root-version: "1.x-dev"

  integration-tests:
    name: "integration test"
    uses: "phpDocumentor/.github/.github/workflows/continuous-integration.yml@v0.9"
    needs: "unit-tests"
    with:
      test-suite: "integration"
      php-extensions: "none, ctype, dom, json, mbstring, phar, simplexml, tokenizer, xml, xmlwriter, fileinfo, iconv, inotify"
      composer-root-version: "1.x-dev"

  xml-lint:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v6"

      - name: "Install libxml2-utils"
        run: |
          sudo apt-get update
          sudo apt -y install libxml2-utils

      - name: "Lint xml configs"
        run: "tools/xmllint.sh"
